body{
	margin: 0px;
}

#header{
	position:relative;
	width: 100%;
	padding:20px 0px;
	text-align: center;
	font-size: 3em;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.error{
	font-size: 0.75em;
	color: red;
}
